[Unit]
Description=Remote Studio Daemon (Socket Activated)
Documentation=https://github.com/nicomancinelli/remote-studio
After=graphical-session.target
Requires=remote-studio.socket

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/remote-...[truncated]